# include important folders
# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle
!gradle.properties
!.travis.yml

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*/test/java/*.class

# Files from Forge MDK
forge*changelog.txt

